@import './../styles/variables';

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: black;
}

.validate-color {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  font-size: $font-size;
}
